.property {
  width: 100%;
  margin: 15px 0;

  .property-title {
    font-weight: 600;
    font-size: 12px;
    color: rgb(81, 97, 103);
    text-transform: uppercase;
    padding: 0.75rem 15px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }

  .property-content {
    padding: 10px 15px;

    .row {
      padding: 5px 10px;
      // border-bottom: 1px solid #eee;

      &:first-of-type {
        // border-top: 1px solid #eee;
      }
    }

    ion-toggle {
      padding: 10px;
    }



    .title {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 12px;
      color: #8F9699;
    }

    input,
    select {
      background-color: #fff;
      color: #7F7F7F;
      border: 1px solid #DEE1E2;
      border-radius: 7px;
      height: 30px;
      width: 110px;
      text-align: center;
      line-height: 30px;
      padding: 0 10px;
      vertical-align: middle;
      font-size: 14px;
    }

  }

}
