<button class="btn btn-sm btn-secondary btn-block" (click)="modalRoot.show()">Browse</button>

<app-modal #modalRoot [modalTitle]="'Insert Image'" [width]="700" [maximizable]="true">
  <ng-container class="app-modal-body">

      <div #imageUpload></div>

    <!--<div class="file-list">
      <div class="file-list-item" *ngFor="let file of files">
        <h4>{{file.name}}</h4>
        <app-progress-bar *ngIf="progress" [progress]="progress[file.name].progress | async"></app-progress-bar>
      </div>
    </div>
    <div class="no-files" *ngIf="files.size == 0">No Files selected</div>


    <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple accept="video/*,image/*" />-->
  </ng-container>
  <ng-container class="app-modal-footer">
    <!--<div class="btn-group" role="group">
      <button [disabled]="uploading || uploadSuccessful" type="button" class="btn btn-sm btn-secondary" (click)="addFiles()">Add
        Files</button>
      <button [disabled]="!canBeClosed || files.size == 0" type="button" class="btn btn-sm btn-secondary" (click)="upload()">{{primaryButtonText}}</button>
    </div>-->
    <button class="btn btn-sm btn-secondary" (click)="modalRoot.hide()">Cancel</button>
    <button type="button" class="btn btn-sm btn-secondary" style="float: right;" (click)="insert();modalRoot.hide()">Insert</button>
  </ng-container>
</app-modal>
