<div class="property">
  <div class="property-title">Text</div>
  <div class="property-content">


    <div class="row">
      <div class="col title">
        Weight
      </div>
      <div class="col flex-end">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-sm btn-secondary" (click)="textWeight('bold')" [class.active]="text.weight == 'bold'">
            <fa-icon [icon]="faBold"></fa-icon>
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="textWeight('normal')" [class.active]="text.weight == 'normal'">
            Normal
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col title">
        Text Align
      </div>
      <div class="col flex-end">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-sm btn-secondary" (click)="textAlign('left')" [class.active]="text.align == 'left'">
            <fa-icon [icon]="faAlignLeft"></fa-icon>
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="textAlign('center')" [class.active]="text.align == 'center'">
            <fa-icon [icon]="faAlignCenter"></fa-icon>
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="textAlign('right')" [class.active]="text.align == 'right'">
            <fa-icon [icon]="faAlignRight"></fa-icon>
          </button>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col title">
        Font Family
      </div>
      <div class="col flex-end">
        <!--<select [(ngModel)]="text.fontFamily">
          <option value=''></option>
          <option value='arial'>Arial</option>
          <option value='monospace'>Monospace</option>
        </select>-->

        <div class="dropdown" dropdown>
          <button class="btn btn-secondary btn-sm" dropdown-open>
            <span [style.fontFamily]="text?.fontFamily?.fontFamily">{{ text?.fontFamily?.displayName || 'Select' }}</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="selectFont({displayName: '', fontFamily: ''})">Select</a>
            <a *ngFor="let font of fonts" class="dropdown-item" (click)="selectFont(font)" [style.fontFamily]="font.fontFamily">{{font.displayName}}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col title">
        Color
      </div>
      <div class="col flex-end">
        <input [(colorPicker)]="text.color" cpPosition="left" cpOutputFormat="hex" cpAlphaChannel="disabled"
          [style.background]="text.color" />
      </div>
    </div>

    <div class="row size">
      <div class="col title">
        Size
      </div>
      <div class="col flex-end">
        <input [(ngModel)]="text.size.value" />
        <!--<input type="range" [(ngModel)]="text.size.value" step="1" min="1" max="100">
        <span>{{text.size.value}}</span>-->
      </div>
    </div>



    <div class="row">
      <div class="col title">
        Line Height
      </div>
      <div class="col flex-end">
        <input [(ngModel)]="text.lineHeight" />
      </div>
    </div>
  </div>
</div>
