@import '../property.wrapper.scss';

.dropdown {
    .dropdown-menu {
       right: 0;
       left: unset;
       overflow: hidden;
       a {
           cursor: pointer;
           padding: 10px 15px;
       }
    }
    &.open {
        .dropdown-menu {
            display: block;
        }
    }
}

.size {
    span { }
}