@import './defaults';

eassessment-content-editor {

  @import '~bootstrap/scss/bootstrap-reboot';
  @import '~bootstrap/scss/bootstrap-grid';
  @import '~bootstrap/scss/dropdown';
  @import '~bootstrap/scss/button-group';
  @import '~bootstrap/scss/buttons';


  @extend %default-font;


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin-bottom: 0;
    padding-bottom: 0;
    @extend %default-font;
  }

  strong {
    font-weight: bold;
  }


  .flex-end {
    display: flex;
    justify-content: flex-end;
  }

  .text-content {

    p,
    span,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: unset;
      font-size: unset;
      line-height: unset;
      color: unset;
      font-weight: unset;
    }
  }

  .preventUserSelect {
    * {
      user-select: none;
    }
  }



  color-picker {

    .color-picker {
      border-radius: 4px;
      border: 1px solid #d1d1d1;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    .arrow {
      display: none;

    }
  }


  .clearfix {
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }


}

// Content Editor Styles
.ece {
  &.k-widget.k-editor-widget {
    width: auto !important;
    height: 46px;

    .k-editor-toolbar {
      li {
        display: inline-block;
      }
    }
  }
  .k-colorpicker .k-tool-icon::before {
    margin: auto 7px;
  }
  .k-colorpicker .k-tool-icon {
    width: 45px;
  }
  .k-colorpicker .k-tool-icon .k-selected-color {
    margin: 0 0 7px;
    left: 8px;
  }

}

.imageUpload {
  .k-filebrowser .k-tile strong {
    float: unset;
    width: auto;
  }
  .k-i-close{
    border: none;
    background: transparent;
    padding: 0;
  }
}

.hide {
  display: none !important;
}

// Drag Elements are in the Global Styles because of cdk
.cdk-drag-placeholder {
  background: #c4c9cc;
  padding: 10px 15px;
  text-indent: -9999px;
}

.eco-tooltip {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  z-index: 10;
  font-size: 14px;
  overflow: hidden;
  height: auto;
  width: auto;
  display: flex;
  max-width: 300px;
  line-height: 1.5;
}

.cdk-drop-list-dragging {
  .drag-element-toolbar {
    display: none;
  }

  .drag-element {
    div:first-of-type {
      &:hover {
        box-shadow: none;
      }
    }
  }

}

.drag-element {

  &.cdk-drag-preview,
  &.cdk-drag-placeholder {
    .drag-element-toolbar {
      display: none;
    }

  }

  div:first-of-type {
    &:hover {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    }
  }

  .drag-element-toolbar {

    .eco-tooltip {
      background: rgba(0, 0, 0, 0.4);
      border-top-left-radius: 0;
      padding: 0;
      color: #fff;
      text-align: center;
      z-index: 2000;
      font-size: 17px;
      transition: opacity .5s ease-out;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      // justify-content: flex-start;
      // flex-direction: column;
    }


    .item {
      padding: 5px 10px;

      &:hover {
        background: rgba(0, 0, 0, 0.6);
      }

      &:focus,
      &:active {
        background: rgba(0, 0, 0, 0.7);
      }
    }

    .drag-element-handle {
      cursor: move;
    }

    .drag-element-component {
      background: rgba(0, 0, 0, 0.2);
    }
  }


}


.k-state-active {
  &:focus {
    box-shadow: 0 0 0 1px #ddd;
    outline: none;
  }

}

.k-webkit .k-editor-toolbar {
  padding: 0;
  /* height: 70px; */
}





.eco-element-item {
  @extend %default-font;

  &.body-settings-item {
    cursor: pointer;
    border-radius: 50%;
    background: #2f2e50;
    color: #fff;
  }

  background: white;
  color: #2f2e50;

  width: 80px;
  height: 80px;

  margin-right: 10px;

  text-align: center;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  cursor: move;

  user-select: none;

  transition-duration: .15s;
  transition-property: box-shadow;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5rem;

  mat-icon {
    width: 45px;
    height: auto;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
  }

  .title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-top: 3px;
  }

}


.eco-element-item-placeholder {

  background: #333;
  min-width: 50px;
  min-height: 50px;
  border-radius: 6px;
  margin-right: 10px;
}
