.k-state-active {
  &:focus {
    box-shadow: 0 0 0 1px #ddd;
    outline: none;
  }

}

.k-webkit .k-editor-toolbar {
  padding: 0;
  /* height: 70px; */
}


.ece {

  .k-editor-toolbar .k-tool-group {
    padding: 5px 8px;
  }

  .k-widget.k-editor-widget .k-editor-toolbar li {
    display: flex;
  }

  // EDP-819 Fix Color Big Visible Bug
  .k-editor-toolbar span.k-colorpicker {
    display: inline-block !important;

  }

  .k-editor-toolbar .k-icon.k-colorpicker {
    display: none !important;

  }

  &.k-widget.k-editor-widget {
    width: auto !important;
    height: 46px;
  }

  .k-colorpicker .k-tool-icon::before {
    margin: auto 7px;
  }

  .k-colorpicker .k-tool-icon {
    width: 45px;
  }

  .k-colorpicker .k-tool-icon .k-selected-color {
    margin: 0 0 7px;
    left: 8px;
  }

}


.k-filebrowser .k-tile strong {
  float: unset !important;
  width: auto !important;
}

.k-i-close {
  border: none;
  background: transparent;
  padding: 0;
}

.k-filebrowser .k-breadcrumbs-wrap .k-icon {
  position: absolute !important;
  margin: -7px !important;
  padding: 0 !important;
}

.k-filebrowser .k-breadcrumbs-wrap .k-link {
  padding: 0 14px;
}
