<span class="initial-letter" *ngIf="initialLetter"
[style.fontSize.px]="initialLetter?.size"
[style.lineHeight.px]="initialLetter?.size - 5"
[style.color]="initialLetter?.color">{{initialLetter.letter}}</span>
<div #editor spellcheck="false" autocorrect="off" autocapitalize="off"
[ngDraggable]="position?.position == 'absolute'"
[position]="movingOffset"
(endOffset)="onMoveEnd($event)"
[style.transform]="position?.position == 'unset' ? 'none' : ''"
[style.zIndex]="position?.position == 'absolute' ? 1000 : ''"
[style.paddingLeft.px]="padding?.left" 
[style.paddingTop.px]="padding?.top"
[style.paddingRight.px]="padding?.right" 
[style.paddingBottom.px]="padding?.bottom"
[style.float]="general?.float"
[style.width.px]="general?.width"
[style.boxShadow]="general?.boxShadow"
[style.color]="text?.color"
[style.fontFamily]="text?.fontFamily?.fontFamily"
[style.lineHeight]="text?.lineHeight"
[style.fontSize.px]="text?.size"
[style.textAlign]="text?.align"
[style.textIndent.px]="text?.textIndent"
[style.backgroundColor]="background?.color"
[style.backgroundImage]="'url('+background?.image+')'" 
[style.backgroundRepeat]="background?.repeat"
[style.backgroundSize]="background?.size"
[style.position]="position?.position"
[ngClass]="general?.cssClass"
[class.k-widget]="false"
[class.k-editor]="false"
[class.k-editor-inline]="false"
[class.k-state-active]="false"
></div>


<!--
    
[style.top.px]="position?.top ? position?.top : 0"
[style.left.px]="position?.left ? position?.left : 0"
-->