<span class="initial-letter" *ngIf="initialLetter"
[style.fontSize.px]="initialLetter?.size"
[style.lineHeight.px]="initialLetter?.size - 5"
[style.color]="initialLetter?.color">{{initialLetter.letter}}</span>
<div #editor spellcheck="false" autocorrect="off" autocapitalize="off"
    [ngDraggable]="position?.position == 'absolute'"
    [position]="movingOffset"
    (started)="onStart($event)"
    (movingOffset)="onMoving($event)"
    [style.top.px]="position?.top"
    [style.left.px]="position?.left"
    [style.zIndex]="position?.position == 'absolute' ? 1000 : ''"
    [style.fontFamily]="text?.fontFamily?.fontFamily"
    [style.textIndent.px]="text?.textIndent"
    [style.position]="position?.position"

    [ngStyle]="styles" 
    [ngClass]="styles?.cssClasses"

    [class.k-widget]="false"
    [class.k-editor]="false"
    [class.k-editor-inline]="false"
    [class.k-state-active]="false"
></div>

