.wrapper {
  &:hover {
    .drag-handle {
      display: block;
    }
  }
}

.drag-handle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.32);
  color: #fff;
  z-index: 8;
  text-align: center;
  cursor: move;
  border-bottom-left-radius: 5px;
  padding: 3px;
}



.initial-letter {
  float: left;
  font-size: 24px;
  line-height: 1;
  margin: 0 5px 5px 0;
}

.text-content {
  float: none !important;
  background: unset;
}

div {
  transform: none !important;
}
