<div class="properties" [@fadeInAnimation]>
  <div class="header">
    <div class="row">
      <div class="title col">
        Settings
      </div>
      <div class="actions col flex-end">
        <button (click)="close()">
          <fa-icon [icon]="faArrowDown"></fa-icon>
        </button>
      </div>
    </div>
  </div>


  <div *ngFor="let property of element.properties">
      <app-property-general *ngIf="property.name == 'general'" [(ngModel)]="property"></app-property-general>
      <app-property-padding *ngIf="property.name == 'padding'" [(ngModel)]="property"></app-property-padding>
      <app-property-html *ngIf="property.name == 'html'" [(ngModel)]="property"></app-property-html>
      <app-property-text *ngIf="property.name == 'text'" [(ngModel)]="property"></app-property-text>


      <!--<app-property-text *ngIf="isIn('text')"></app-property-text>
      <app-property-html *ngIf="isIn('html')"></app-property-html>
      <app-property-image *ngIf="isIn('image')"></app-property-image>
      <app-property-general *ngIf="isIn('general')"></app-property-general>
      <app-property-border *ngIf="isIn('border')"></app-property-border>-->
  </div>
  
  
  
</div>
