<div class="properties" [@fadeInAnimation]>
  <div class="header">
    <div class="row">
      <div class="title col">
        Settings
      </div>
      <div class="actions col flex-end">
        <button (click)="close()">
          <fa-icon [icon]="faArrowDown"></fa-icon>
        </button>
      </div>
    </div>
  </div>


  <!--
  <app-property-padding></app-property-padding>
  <app-property-html></app-property-html>
  -->

  <app-property-image></app-property-image>
  
  <app-property-text></app-property-text>
  <app-property-general></app-property-general>
  <app-property-border></app-property-border>
  <app-property-background></app-property-background>
  
  
</div>
