<div class="property">
    <div class="property-title">General</div>
    <div class="property-content">
      <div class="row">
        <div class="col title">
          CSS Class
        </div>
        <div class="col flex-end">
          <input [(ngModel)]="general.class">
        </div>
      </div>
      <div class="row">
          <div class="col title">
            z-index
          </div>
          <div class="col flex-end">
            <input [(ngModel)]="padding.left">
          </div>
        </div>
    </div>
  </div>
  