:host {
  position: relative;
  height: 100%;
  width: 100%;
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 34px;
  text-transform: uppercase;
  color: #565656;
  span {
    text-align: center;

  }
}
.data {
  display: block; 
  height: 100%;
}
.section-preview {
    /* height: calc(100% - 100px);
    position: absolute;
    top: 100px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: calc(100% - 100px);
    width: 100%;
    @import './passage-player-wrapper.scss';
  
  }
  
  .element-list-wrapper {
    position: relative;
    right: 0;
    top: 0;
    background-color: #F9F9F9;
    z-index: 1000;
    padding: 10px;
    display: flex;
  
    .element-list {
      display: flex;
    }
  }
  
  .body-settings {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  
    .element-item {
      cursor: pointer;
    }
  }
  
  
  
  
  /*.section-settings-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #d6d9dc;
      padding: 15px;
  
      .btn-block+.btn-block {
        margin-top: 0;
      }
    }
  
    .tabs {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      width: 100%;
      position: relative;
      top: 0;
      background: #D6D9DC;
  
      .tab {
        padding: 15px 5px;
        width: 50%;
        color: #516167;
  
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        user-select: none;
  
        &:hover {
          background: rgba(0, 0, 0, .1);
        }
  
        &.active {
          background-color: #F9F9F9;
        }
      }
    } */
  @import '../components/properties/properties/property.wrapper';
  
  
  