<div class="property">
  <div class="property-title">Padding</div>
  <div class="property-content">
    <div class="row">
      <div class="col title">
        Left
      </div>
      <div class="col flex-end">
        {{padding?.left}}
        <input type="range" min="0" max="500" step="1" [(ngModel)]="padding.left">
      </div>
    </div>
    <div class="row">
      <div class="col title">
        Top
      </div>
      <div class="col flex-end">
          <input type="range" min="0" max="500" step="1" [(ngModel)]="padding.top">
      </div>
    </div>
    <div class="row">
      <div class="col title">
        Right
      </div>
      <div class="col flex-end">
        
          <input type="range" min="0" max="500" step="1" [(ngModel)]="padding.right">
      </div>
    </div>
    <div class="row">
      <div class="col title">
        Bottom
      </div>
      <div class="col flex-end">
        
          <input type="range" min="0" max="500" step="1" [(ngModel)]="padding.bottom">
      </div>
    </div>
  </div>
</div>
