.progress-outer {
    width: 100%;
    margin: 10px 0 0;
    padding: 5px;
    font-size: 12px;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 25px;
    text-align: center;
}

.progress-inner {
  min-width: 15%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px;
  border-radius: 10px;
}
