@font-face {
    font-family: 'Comic Sans MS';
    src: url('./ComicSansMS.woff2') format('woff2'),
        url('./ComicSansMS.woff') format('woff'),
        url('./ComicSansMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
