
<div
[style.paddingLeft]="padding?.left" 
[style.paddingTop]="padding?.top"
[style.paddingRight]="padding?.right" 
[style.paddingBottom]="padding?.bottom"
[style.zIndex]="general?.zIndex"
[style.float]="general?.float"
[style.width]="general?.width"
[style.boxShadow]="general?.boxShadow"
[ngClass]="general?.cssClass">
  <video [controls]="video?.controls" [autoplay]="video?.autoplay" [loop]="video?.loop" [muted]="video?.muted">
    <source [src]="video?.src" type="video/mp4">
  </video>

</div>
  